# SQL Server
MSSQL_SA_PASSWORD=MyStrong!Passw0rd
MSSQL_PORT=1433

# JWT Authentication
JWT_KEY=sua-chave-super-secreta-com-32-caracteres-ou-mais

# Admin registration code
ADMIN_REGISTRATION_CODE=Admin@123